@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* font-family: 'Outfit', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: hsl(212, 45%, 89%);
}
